@tailwind base;
@tailwind components;
@tailwind utilities;

.site-layout-content {
  min-height: 280px;
  padding: 24px;
}
#components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}
.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}
.page-width {
  @apply w-[1240px] mx-auto
}
.main-menu{
  @apply sticky top-0 bg-white
}
#main-menu .ant-menu-overflow-item.ant-menu-item:first-child{
  @apply mr-auto
}